b-letter, b-double {
	width: 1em;
	height: 2em;
	margin: 0.5em;
}
b-double { height: 3em; }
section {
	border-style: solid;
	border-radius: 1em;
	margin: 1em 0;
	padding: 1em;
}
a.title {
	display: block;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0.5em;
}