:root {
	--text-color: #342C37;
	--fond-color: #F5DEF5;
	--bord-color: #C29FC2;
	--button-color: #342C37;
	--button-color-hover: #342C37;
	--button-bg: #C29FC2;
	--button-bg-hover: #9DB2E2;
	--foldable-border: solid;
}
html { background-color: #C29FC2; }
body {
	max-width: 36cm;
	min-height: 20cm;
	background-color: ivory;
}
/* affichage pour les smartphones */
@media (max-width: 768px){}
