calendar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 14em;
	text-align: center;
}
calendar .full {
	color: var(--button-color);
	background-color: var(--button-bg);
}
calendar span { font-weight: bold; }
calendar span:nth-child(2) { grid-column: 2/5; }
calendar span:nth-child(4) { grid-column: 6/8; }
day {
	display: block;
	width: 14em;
}