cube, rect {
	display: block;
	transform-style: preserve-3d;
	padding: 0;
}
cube >* {
	border: var(--bord);
	background: var(--fond);
	width: inherit;
	height: inherit;
	margin: 0;
	color: inherit;
	padding-top: inherit;
	position: absolute;
	top: 0;
	left: 0;
}
cube >*:nth-child(1){
	transform: translateZ(var(--micote));
}
cube >*:nth-child(2){
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
}
cube >*:nth-child(3){
	transform: rotateX(-90deg) translateY(50%);
	transform-origin: bottom center;
}
cube >*:nth-child(4){
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
}
cube >*:nth-child(5){
	transform: rotateY(-270deg) translateX(50%);
	transform-origin: center right;
}
cube >*:nth-child(6){
	transform: rotateY(180deg) translateZ(var(--micote));
}
/* cube qui tourne selon spin-vertical */
cube.vertical >*:nth-child(6){
	transform: rotateX(180deg) translateZ(var(--micote));
}
/* les rotations */
@keyframes spin-horizontal {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}
/* exemple de cube */
container#mycube {
	perspective: 800px;
	perspective-origin: -100% 100px;
}
cube#mycube {
	animation: spin-horizontal 5s infinite linear;
	width: 4cm;
	height: 4cm;
	--micote: 2cm;
	--bord: double 20px yellow;
	--fond: turquoise;
}