div.slider { width: 100%; }
div#slider-frame {
	text-align: center;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: 12px 1fr;
	grid-template-rows: 12px 1fr;
	justify-items: center;
}
div.slider {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
div.slider.vertical { flex-direction: column; }
input[type='range'] {
	writing-mode: vertical-tb;
	width: 50%;
	appearance: none;
	accent-color: var(--text-color);
	background-color: none;
	cursor: pointer;
}
div.slider.vertical > input[type='range'] {
	writing-mode: vertical-lr;
	height: 50%;
}
input[type='range']::-webkit-slider-runnable-track, input[type='range']::-moz-range-track {
	background-color: var(--bord-color);
}
input[type='range']::-webkit-slider-thumb, input[type='range']::-moz-range-thumb {
	appearance: none;
	background-color: var(--fond-color);
	border: solid 2px var(--text-color);
	border-radius: 50%;
}
svg {
/*	width: 100%; */
	box-sizing: content-box;
	background-color: var(--fond-color);
	background-position: center;
	background-size: contain;
	transform-origin: center center;
	background-repeat: no-repeat;
}
line {
	box-sizing: content-box;
	stroke-width: 4px;
	stroke: var(--bord-color);
}