body {
	--text-color: #342C37;
	--fond-color: #F5DEF5;
	--bord-color: #C29FC2;
	--page-color: ivory;
	--button-color: ivory;
	--button-color-hover: ivory;
	--button-bg: #754870;
	--button-bg-hover: #3F5484;
	margin: auto;
	padding: 0;
	background-color: var(--page-color, white);
	color: var(--text-color, black);
	font-family: serif;
	font-size: 1em;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: top;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	outline: none;
	border-width: 2px;
	border-style: none;
	border-color: var(--bord-color, #CCC);
}
*:first-letter, title:first-letter { text-transform: uppercase; }
*:before, *:after { box-sizing: border-box; }
article { display: none; }
article.current { display: block; }
ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin-left: 0;
}
h1, h2, p { margin-bottom: 1em; }
h1 {
	text-align: center;
	font-size: 2em;
}
h2 {
	text-align: center;
	font-size: 1.5em;
}
button {
	padding: 0.4em;
	outline: none;
	text-align: center;
	display: inline-block;
	color: var(--button-color, black);
	background-color: var(--button-bg, #969696);
	border-style: var(--button-border, none);
}
button:focus, button:hover {
	background-color: var(--button-bg-hover, #525252);
	color: var(--button-color-hover, white);
	font-weight: normal;
}
label {
	padding: 0.4em;
	text-align: center;
	display: inline-block;
	color: var(--button-color, black);
	background-color: var(--button-bg, #969696);
	border-style: var(--button-border, none);
}
img {
	display: block;
/*	width: 100%; */
	background-color: var(--fond-color);
	min-height: 2em;
	mix-blend-mode: normal;
}