
/* le cube. ordre des faces: haut, bas, gauche, droite, derrière, devant */
.cube { height: var(--long-x); }
.cube > *:nth-child(1) { transform: rotateX(90deg) translateY(-50%); }
.cube > *:nth-child(2) { transform: rotateX(-90deg) translateY(50%); }
.cube > *:nth-child(3) { transform: rotateY(270deg) translateX(-50%); }
.cube > *:nth-child(4) { transform: rotateY(-270deg) translateX(50%); }
.cube > *:nth-child(5) { transform: translateZ(calc(-0.5* var(--long-x))) rotateY(180deg); }
.cube > *:nth-child(6) { transform: translateZ(calc(0.5* var(--long-x))); }


.arlequin > *:nth-child(1) {
	background:
		linear-gradient(45deg, deeppink 10%, transparent 30%, transparent 70%, seagreen 90%),
		linear-gradient(135deg, orange 10%, transparent 30%, transparent 70%, purple 90%);
}
.arlequin > *:nth-child(2) {
	background:
		linear-gradient(45deg, orangered 10%, transparent 30%, transparent 70%, blue 90%),
		linear-gradient(135deg, magenta 10%, transparent 30%, transparent 70%, grey 90%);
}
.arlequin > *:nth-child(3) {
	background:
		linear-gradient(45deg, blue 10%, transparent 30%, transparent 70%, seagreen 90%),
		linear-gradient(135deg, orange 10%, transparent 30%, transparent 70%, magenta 90%);
}
.arlequin > *:nth-child(4) {
	background:
		linear-gradient(45deg, deeppink 10%, transparent 30%, transparent 70%, orangered 90%),
		linear-gradient(135deg, grey 10%, transparent 30%, transparent 70%, purple 90%);
}
.arlequin > *:nth-child(5) {
	background:
		linear-gradient(45deg, grey 10%, transparent 30%, transparent 70%, orange 90%),
		linear-gradient(135deg, blue 10%, transparent 30%, transparent 70%, deeppink 90%);
}
.arlequin > *:nth-child(6) {
	background:
		linear-gradient(45deg, purple 10%, transparent 30%, transparent 70%, magenta 90%),
		linear-gradient(135deg, seagreen 10%, transparent 30%, transparent 70%, orangered 90%);
}
.corner-va >* {
	background:
		linear-gradient(45deg, var(--text-color) 10%, transparent 20%, transparent 80%, var(--text-color) 90%),
		linear-gradient(135deg, var(--text-color) 10%, transparent 20%, transparent 80%, var(--text-color) 90%);
}
.corner >* {
	background: radial-gradient(transparent 70%, var(--bord-color) 90%);
}

/* l'arrondi, à rajouter par-dessus le cube ou la pave */
.arrondi > *:nth-child(-1n+2) { border-radius: var(--arrondi); }
.arrondi > *:nth-child(3) { transform: rotateY(270deg) translateX(-50%) translateZ(calc(var(--long-x) * var(--arrondi-nb) /100)); }
.arrondi > *:nth-child(4) { transform: rotateY(-270deg) translateX(50%) translateZ(calc(var(--long-x) * var(--arrondi-nb) /100)); }
.arrondi > *:nth-child(n+3) {
	width: calc(100% - 2* var(--arrondi));
	right: var(--arrondi);
}
.arrondi > *:before, .arrondi > *:after {
	content: "";
	width: calc(var(--arrondi-nb) * var(--long-x) /200);
}
.arrondi > *:nth-child(-1n+2):before {
	transform: rotateX(90deg) rotateY(45deg) translateY(-50%) translateZ(calc(var(--long-x) / (1.4142 + var(--arrondi-nb) * 0.011716))); }
.arrondi > *:nth-child(-1n+2):after {
	transform: rotateX(90deg) rotateY(45deg) translateY(-50%) translateZ(calc(var(--long-x) / (-1.4142 - var(--arrondi-nb) * 0.011716))); }
.arrondi > *:nth-child(n+3):before {
	transform-origin: center left;
	right: calc(var(--arrondi-nb) * var(--long-x) /-200);
	transform: rotateY(20deg);
}
.arrondi > *:nth-child(n+3):after {
	transform-origin: center right;
	left: calc(var(--arrondi-nb) * var(--long-x) /-200);
	transform: rotateY(-20deg);
}
.pave.arrondi > *:before, .pave.arrondi > *:after { height: var(--long-y); }