body { padding: 0 0.4em; }
div.list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.5em;
	margin-bottom: 0.4em;
}
span.name { margin: 0.4em; }
div.quantity-1 { border-color: #0F0; }
div.quantity-2 { border-color: #880; }
div.quantity-3 { border-color: #A50; }
div.quantity-4 { border-color: #F00; }
span { display: inline-block; }
span.buttons {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 10em;
}
button {
	flex-grow: 1;
	border-radius: 0.5em;
	height: 100%;
}
div#new {
	display: grid;
	grid-template-columns: 60% 1fr;
	margin-top: 1em;
}
div#new >*{ height: 100%; }