.perspective { perspective: 800px; perspective-origin: 50% 50%; }
.perspective.flat { perspective: none; perspective-origin: 0 0; }
cube {
	display: block;
	transform-style: preserve-3d;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
cube >* {
	display: inline-block;
	position: absolute;
	transform-style: preserve-3d;
	transform-origin: center center;
	text-align: center;
	width: inherit;
	height: inherit;
	font-size: inherit;
	color: inherit;
	background: inherit;
	background-color: inherit;
	background-image: inherit;
	/*
	*/
}
cube > *:nth-child(1) { transform-origin: top center; }
cube > *:nth-child(2) { transform-origin: bottom center; }
cube > *:nth-child(3) { transform-origin: center left; }
cube > *:nth-child(4) { transform-origin: center right; }
/* le cube. ordre des faces: haut, bas, gauche, droite, derrière, devant */
cube, cube >* { width: var(--long-x); height: var(--long-x); }
cube > *:nth-child(1) { transform: rotateX(90deg) translateY(-50%); }
cube > *:nth-child(2) { transform: rotateX(-90deg) translateY(50%); }
cube > *:nth-child(3) { transform: rotateY(270deg) translateX(-50%); }
cube > *:nth-child(4) { transform: rotateY(-270deg) translateX(50%); }
cube > *:nth-child(5) { transform: translateZ(calc(-0.5* var(--long-x))) rotateY(180deg); }
cube > *:nth-child(6) { transform: translateZ(calc(0.5* var(--long-x))); }