.perspective {
	perspective: 800px;
	perspective-origin: 50% 50%;
}
.perspective.flat {
	perspective: none;
	perspective-origin: 0 0;
}
.volume {
	transform-style: preserve-3d;
	position: relative;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	--long-x: 150px;
	--long-y: 100px;
	--long-z: 200px;
	top: 100px;
	left: 50%;
}
.volume >* {
	position: absolute;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}
/* le cube. ordre des faces: devant, derrière, haut, bas, gauche, droite */
.cube, .cube >* {
	width: var(--long-x);
	height: var(--long-x);
}
.cube > *:nth-child(1) { transform: translateZ(calc(0.5* var(--long-x))); }
.cube > *:nth-child(2) { transform: translateZ(calc(-0.5* var(--long-x))) rotateY(180deg); }
.cube > *:nth-child(3) {
	transform-origin: top center;
	transform: rotateX(-90deg) translateY(-50%);
}
.cube > *:nth-child(4) {
	transform-origin: bottom center;
	transform: rotateX(90deg) translateY(50%);
}
.cube > *:nth-child(5) {
	transform-origin: center left;
	transform: rotateY(270deg) translateX(-50%);
}
.cube > *:nth-child(6) {
	transform-origin: center right;
	transform: rotateY(-270deg) translateX(50%);
}
/* la brique. ordre des faces: devant, derrière, haut, bas, gauche, droite */
.brique { width: var(--long-x);	height: var(--long-y); }
.brique > *:nth-child(1) {
	width: var(--long-x);	height: var(--long-y);
	transform: translateZ(calc(0.5* var(--long-z)));
}
.brique > *:nth-child(2) {
	width: var(--long-x);	height: var(--long-y);
	transform: rotateY(180deg) translateZ(calc(0.5* var(--long-z)));
}
.brique > *:nth-child(3) {
	width: var(--long-x);	height: var(--long-z);
	transform: rotateX(-90deg) translateY(calc(-0.5* var(--long-z)));
	transform-origin: top center;
}
.brique > *:nth-child(4) {
	width: var(--long-x);	height: var(--long-z);
	transform-origin: bottom center;
	transform: rotateX(-90deg) translateY(calc(0.5* var(--long-z))) translateZ(calc(var(--long-y) - var(--long-z)));
}
.brique > *:nth-child(5) {
	width: var(--long-z);	height: var(--long-y);
	transform-origin: center left;
	transform: rotateY(270deg) translateX(-50%);
}
.brique > *:nth-child(6) {
	width: var(--long-z);	height: var(--long-y);
	transform-origin: center right;
	transform: rotateY(-270deg) translateX(50%) translateZ(calc(var(--long-x) - var(--long-z)));
}
/* le toblerone */
.toblerone, .toblerone >* {
	width: var(--long-x);
	height: calc(var(--long-x) /2);
}
.toblerone > *:nth-child(1) {
	height: 141.42%;
	transform: translateZ(calc(0.25* var(--long-x))) rotateX(45deg);
}
.toblerone > *:nth-child(2) {
	height: 141.42%;
	transform: translateZ(calc(-0.25* var(--long-x))) rotateY(180deg) rotateX(45deg);
}
.toblerone > *:nth-child(3) {
	height: 200%;
	transform-origin: bottom center;
	transform: rotateX(-90deg) translateZ(calc(-0.4* var(--long-x))) translateY(50%);
}
.toblerone > *:nth-child(4) {
	transform-origin: center left;
	transform: rotateY(270deg) translateX(-50%) translateY(20%);
	clip-path: polygon(100% 100%, 50% 0, 0 100%);
}
.toblerone > *:nth-child(5) {
	transform-origin: center right;
	transform: rotateY(-270deg) translateX(50%) translateY(20%);
	clip-path: polygon(100% 100%, 50% 0, 0 100%);
}
/* le cylindre. ordre des faces: haut, bas, cotés */
.cylindre {
	width: var(--long-x); height: var(--long-y);
	background: none;
}
.cylindre >* {
	transform-origin: center center;
	width: 10%; height: var(--long-y);
	transform-style: preserve-3d;
	background-color: inherit;
	background-image: inherit;
}
.cylindre > *:nth-child(1) {
	width: var(--long-x); height: var(--long-x);
	transform-origin: top center;
	transform: rotateX(-90deg) translateY(-50%);
	border-radius: 50%;
}
.cylindre > *:nth-child(2) {
	width: var(--long-x); height: var(--long-x);
	transform-origin: bottom center;
	transform: rotateX(90deg) translateY(50%) translateZ(calc(var(--long-x) - var(--long-y)));
	border-radius: 50%;
}
.cylindre > *:nth-child(3) { transform: translateX(450%) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(4) { transform: rotateY(90deg) translateX(450%) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(5) { transform: rotateY(45deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(6) { transform: rotateY(135deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(7) { transform: rotateY(22.5deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(8) { transform: rotateY(112.5deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(9) { transform: rotateY(67.5deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(10) { transform: rotateY(157.5deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(11) { transform: rotateY(11.25deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(12) { transform: rotateY(101.25deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(13) { transform: rotateY(56.25deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(14) { transform: rotateY(146.25deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(15) { transform: rotateY(33.75deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(16) { transform: rotateY(123.75deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(17) { transform: rotateY(78.75deg) translateZ(calc(var(--long-x) /2)); }
.cylindre > *:nth-child(18) { transform: rotateY(168.75deg) translateZ(calc(var(--long-x) /2)); }
.cylindre >*:after {
	content: "";
	width: 100%;
	height: inherit;
	transform: translateZ(calc(-1* var(--long-x)));
	background-color: inherit;
	background-image: inherit;
}
.cylindre >*:nth-child(1):after, .cylindre >*:nth-child(2):after { display: none; }
/*
*/
@keyframes cube-spin-horizontally { to { transform: rotateY(360deg); }}
.volume.horizontal { animation-name: cube-spin-horizontally; }
@keyframes cube-spin-vertically { to { transform: rotateX(360deg); }}
.volume.vertical {
	animation-name: cube-spin-vertically;
	transform-origin: 0 100px;
}
@keyframes cube-spin-full { to { transform: rotateX(360deg) rotateY(360deg); }}
.volume.full {
	animation-name: cube-spin-full;
	transform-origin: 50px 100px;
}
/* la boule */
.ball {
	/* préciser width, height et background-color */
	border-radius: 50%;
	background-image: radial-gradient(circle at 20% 50%, transparent, #0003);
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}
.ball.horizontal { animation-name: ball-spin-horizontally; }
.ball.vertical { animation-name: ball-spin-vertically; }
@keyframes ball-spin-horizontally {
	0% { background-image: radial-gradient(circle at 0% 50%, transparent, #0003); }
	5% { background-image: radial-gradient(circle at 5% 50%, transparent, #0003); }
	10% { background-image: radial-gradient(circle at 10% 50%, transparent, #0003); }
	15% { background-image: radial-gradient(circle at 15% 50%, transparent, #0003); }
	20% { background-image: radial-gradient(circle at 20% 50%, transparent, #0003); }
	25% { background-image: radial-gradient(circle at 25% 50%, transparent, #0003); }
	30% { background-image: radial-gradient(circle at 30% 50%, transparent, #0003); }
	35% { background-image: radial-gradient(circle at 35% 50%, transparent, #0003); }
	40% { background-image: radial-gradient(circle at 40% 50%, transparent, #0003); }
	45% { background-image: radial-gradient(circle at 45% 50%, transparent, #0003); }
	50% { background-image: radial-gradient(circle at 50% 50%, transparent, #0003); }
	55% { background-image: radial-gradient(circle at 55% 50%, transparent, #0003); }
	60% { background-image: radial-gradient(circle at 60% 50%, transparent, #0003); }
	65% { background-image: radial-gradient(circle at 65% 50%, transparent, #0003); }
	70% { background-image: radial-gradient(circle at 70% 50%, transparent, #0003); }
	75% { background-image: radial-gradient(circle at 75% 50%, transparent, #0003); }
	80% { background-image: radial-gradient(circle at 80% 50%, transparent, #0003); }
	85% { background-image: radial-gradient(circle at 85% 50%, transparent, #0003); }
	90% { background-image: radial-gradient(circle at 90% 50%, transparent, #0003); }
	95% { background-image: radial-gradient(circle at 95% 50%, transparent, #0003); }
	100% { background-image: radial-gradient(circle at 100% 50%, transparent, #0003); }
}
@keyframes ball-spin-vertically {
	0% { background-image: radial-gradient(circle at 50% 0%, transparent, #0003); }
	5% { background-image: radial-gradient(circle at 50% 5%, transparent, #0003); }
	10% { background-image: radial-gradient(circle at 50% 10%, transparent, #0003); }
	15% { background-image: radial-gradient(circle at 50% 15%, transparent, #0003); }
	20% { background-image: radial-gradient(circle at 50% 20%, transparent, #0003); }
	25% { background-image: radial-gradient(circle at 50% 25%, transparent, #0003); }
	30% { background-image: radial-gradient(circle at 50% 30%, transparent, #0003); }
	35% { background-image: radial-gradient(circle at 50% 35%, transparent, #0003); }
	40% { background-image: radial-gradient(circle at 50% 40%, transparent, #0003); }
	45% { background-image: radial-gradient(circle at 50% 45%, transparent, #0003); }
	50% { background-image: radial-gradient(circle at 50% 50%, transparent, #0003); }
	55% { background-image: radial-gradient(circle at 50% 55%, transparent, #0003); }
	60% { background-image: radial-gradient(circle at 50% 60%, transparent, #0003); }
	65% { background-image: radial-gradient(circle at 50% 65%, transparent, #0003); }
	70% { background-image: radial-gradient(circle at 50% 70%, transparent, #0003); }
	75% { background-image: radial-gradient(circle at 50% 75%, transparent, #0003); }
	80% { background-image: radial-gradient(circle at 50% 80%, transparent, #0003); }
	85% { background-image: radial-gradient(circle at 50% 85%, transparent, #0003); }
	90% { background-image: radial-gradient(circle at 50% 90%, transparent, #0003); }
	95% { background-image: radial-gradient(circle at 50% 95%, transparent, #0003); }
	100% { background-image: radial-gradient(circle at 50% 100%, transparent, #0003); }
}