cadre {
	display: block;
	perspective: 800px; perspective-origin: 10% 4em;
}
cadre.flat { perspective: none; perspective-origin: 0 0; }
volume {
	display: inline-block;
	transform-style: preserve-3d;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	--bg-color: #FAE8;
	--bg-image: none;
	--border: none;
	--long-x: 200px;
	--long-y: 100px;
	--long-z: 170px;
	width: var(--long-x);
	height: var(--long-y);
}
volume >*, volume > *:after, volume > *:before {
	position: absolute;
	width: inherit; height: inherit;
	background-color: var(--bg-color);
	background-image: var(--bg-image);
	border: var(--border);
	text-align: center;
	transform-style: preserve-3d;
	transform-origin: center center;
}
/* le pave. ordre des faces: gauche, droite, devant, derrière, bas, haut */
volume.pave > *:nth-child(1), volume.pave > *:nth-child(2), volume.maison > *:nth-child(1), volume.maison > *:nth-child(2) { width: var(--long-z); }
volume.pave > *:nth-child(1), volume.maison > *:nth-child(1) {
	transform-origin: center left;
	transform: rotateY(270deg) translateX(-50%);
}
volume.pave > *:nth-child(2), volume.maison > *:nth-child(2) {
	transform-origin: center right;
	transform: rotateY(-270deg) translateX(50%) translateZ(calc(var(--long-x) - var(--long-z)));
}
volume.pave > *:nth-child(3), volume.maison > *:nth-child(3) { transform: translateZ(calc(var(--long-z) /2)); }
volume.pave > *:nth-child(4), volume.maison > *:nth-child(4) { transform: rotateY(180deg) translateZ(calc(var(--long-z) /2)); }
volume.pave > *:nth-child(5), volume.pave > *:nth-child(6), volume.maison > *:nth-child(5) { height: var(--long-z); }
volume.pave > *:nth-child(5), volume.maison > *:nth-child(5) {
	transform-origin: bottom center;
	transform: rotateX(-90deg) translateY(calc(var(--long-z) /2)) translateZ(calc(var(--long-y) - var(--long-z)));
}
volume.pave > *:nth-child(6) {
	transform-origin: top center;
	transform: rotateX(90deg) translateY(calc(var(--long-z) /-2));
}
/* la pyramide. ordre des faces: bas, devant, derrière, gauche, droite */
volume.pyramide, volume.pyramide >* { height: calc(var(--long-x) /1.4142); }
volume.pyramide >* {
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
	transform-origin: bottom center;
}
volume.pyramide > *:nth-child(1) {
	height: var(--long-x);
	transform: rotateX(90deg) translateZ(calc(var(--long-x) * 0.4142 / 1.4142));
	clip-path: none;
}
volume.pyramide > *:nth-child(2) { transform: rotateX(45deg); }
volume.pyramide > *:nth-child(3) { transform: rotateY(180deg) translateZ(var(--long-x)) rotateX(45deg); }
volume.pyramide > *:nth-child(4) { transform: rotateY(270deg) translate3d(-50%, 0, calc(var(--long-x) /2)) rotateX(45deg); }
volume.pyramide > *:nth-child(5) { transform: rotateY(90deg) translate3d(50%, 0, calc(var(--long-x) /2)) rotateX(45deg); }
/* le toit. ordre des faces: gauche, droite, devant, derrière, bas */
volume.toit >*:nth-child(1){ transform: rotateY(270deg) translateX(-50%); }
volume.toit >*:nth-child(2){ transform: rotateY(90deg) translate3d(-50%, 0, var(--long-x)); }
volume.toit >*:nth-child(3) { transform: rotateX(45deg); }
volume.toit >*:nth-child(4) { transform: rotateY(180deg) rotateX(45deg); }
volume.toit > *:nth-child(5) {
	height: var(--long-z);
	transform-origin: center center;
	transform: rotateX(-90deg);
}
volume.toit >*:nth-child(1), volume.toit >*:nth-child(2), volume.maison >*:nth-child(6), volume.maison >*:nth-child(7){
	transform-origin: top left;
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
	width: var(--long-z);
	height: calc(var(--long-z) /2);
}
volume.toit >*:nth-child(3), volume.toit >*:nth-child(4), volume.maison >*:nth-child(8), volume.maison >*:nth-child(9){
	transform-origin: top center;
	height: calc(var(--long-z) /1.4142);
}
/* le toblerone. ordre des faces: haut, bas, dos gauche, droite */
volume.toblerone >*:nth-child(1), volume.toblerone >*:nth-child(2){
	width: var(--long-x);
	height: calc(var(--long-x) /2);
	transform-origin: top center;
}
volume.toblerone >*:nth-child(1){
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transform: rotateX(90deg);
}
volume.toblerone >*:nth-child(2){
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
	transform: rotateX(270deg) translate3d(0, -100%, var(--long-y));
}
volume.toblerone >*:nth-child(4), volume.toblerone >*:nth-child(5){
	width: calc(0.7071 * var(--long-x));
	transform-origin: center left;
}
volume.toblerone >*:nth-child(4){ transform: rotateY(315deg); }
volume.toblerone >*:nth-child(5){ transform: rotateY(45deg) translateZ(calc(var(--long-x) * 0.7071)); }
/* la maison. ordre des façades: gauche, droite, devant, derrière, bas. ordre du toit: gauche, droite, devant, derrière, sol */
volume.maison >*:nth-child(6){ transform: rotateY(270deg) translate(-50%, -100%); }
volume.maison >*:nth-child(7){ transform: rotateY(90deg) translate3d(-50%, -100%, var(--long-x)); }
volume.maison >*:nth-child(8) { transform: translateY(calc(var(--long-z) /-2)) rotateX(45deg); }
volume.maison >*:nth-child(9) { transform: translateY(calc(var(--long-z) /-2)) rotateY(180deg) rotateX(45deg); }

/* le cylindre. ordre des faces: bas, haut, cotés */
volume.cylindre > *:nth-child(-1n+2), volume.cone > *:nth-child(1) {
	height: var(--long-x);
	border-radius: 50%;
	transform-origin: top center;
}
volume.cylindre > *:nth-child(1) { transform: rotateX(90deg) translateY(-50%); }
volume.cylindre > *:nth-child(2), volume.cone > *:nth-child(1) { transform: rotateX(-90deg) translate3d(0, -50%, var(--long-y)); }
volume.cylindre > *:nth-child(n+3), volume.cylindre > *:nth-child(n+3):before, volume.cylindre > *:nth-child(n+3):after,
volume.cone > *:nth-child(n+2), volume.cone > *:nth-child(n+2):before, volume.cone > *:nth-child(n+2):after { border: none; }
volume.cylindre > *:nth-child(n+3):before, volume.cylindre > *:nth-child(n+3):after,
volume.cone > *:nth-child(n+2):before, volume.cone > *:nth-child(n+2):after { content: ""; }
volume.cylindre > *:nth-child(n+3):before { transform: translateX(-50%) rotateY(-30deg); }
volume.cylindre > *:nth-child(n+3):after { transform: translateX(-50%) rotateY(30deg); }
volume.cylindre > *:nth-child(4) { transform: rotateY(90deg); }
volume.cylindre > *:nth-child(5) { transform: rotateY(120deg); }

/* le cône. ordre des faces: bas, cotés */
volume.cone > * { background-color: transparent; }
volume.cone > *:nth-child(1) { background-color: var(--bg-color); }
volume.cone > *:nth-child(n+2)::before, volume.cone > *:nth-child(n+2)::after {
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
	background-color: var(--bg-color);
}
volume.cone > *:nth-child(n+2):before { transform: translateX(-50%); }
volume.cone > *:nth-child(n+2):after { transform: translateX(-50%) rotateY(30deg); }
volume.cone > *:nth-child(3) { transform: rotateY(60deg); }
volume.cone > *:nth-child(4) { transform: rotateY(120deg); }

/* le cylindre. ordre des faces: bas, haut, cotés */
volume.cylindre.va > *:nth-child(n+3), volume.cylindre.va > *:nth-child(n+3):before, volume.cylindre.va > *:nth-child(n+3):after { transform-style: preserve-3d; }
volume.cylindre.va > *:nth-child(n+3) { width: calc(0.09* var(--long-x)); }
volume.cylindre.va > *:nth-child(n+3):before, volume.cylindre.va > *:nth-child(n+3):after { content: ""; }
volume.cylindre.va > *:nth-child(n+3):before { transform-origin: center left; transform: translateX(50%) rotateY(10deg); }
volume.cylindre.va > *:nth-child(n+3):after { transform-origin: center right; transform: translateX(-150%) rotateY(-10deg); }
volume.cylindre.va > *:nth-child(3) { transform: translateX(505.56%) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(4) { transform: translateX(505.56%) rotateY(30deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(5) { transform: translateX(505.56%) rotateY(60deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(6) { transform: translateX(505.56%) rotateY(90deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(7) { transform: translateX(505.56%) rotateY(120deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(8) { transform: translateX(505.56%) rotateY(150deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(9) { transform: translateX(505.56%) rotateY(180deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(10) { transform: translateX(505.56%) rotateY(210deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(11) { transform: translateX(505.56%) rotateY(240deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(12) { transform: translateX(505.56%) rotateY(270deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(13) { transform: translateX(505.56%) rotateY(300deg) translateZ(calc(var(--long-x) /2)); }
volume.cylindre.va > *:nth-child(14) { transform: translateX(505.56%) rotateY(330deg) translateZ(calc(var(--long-x) /2)); }
/* les annimations */
@keyframes volume-spin-y { to { transform: rotateY(360deg); }}
volume.spin-x { animation-name: volume-spin-x; }
@keyframes volume-spin-x { to { transform: rotateX(360deg); }}
volume.spin-y { animation-name: volume-spin-y; }
@keyframes volume-spin-z { to { transform: rotateZ(360deg); }}
volume.spin-z { animation-name: volume-spin-z; }
@keyframes volume-spin-xy { to { transform: rotateX(360deg) rotateY(360deg); }}
volume.spin-xy {
	animation-name: volume-spin-xy;
	transform-origin: 50px 100px;
}