:root {
	--text-color: #603;
	--button-color: ivory;
	--button-color-hover: var(--button-color);
	--button-bg: #C36;
	--button-bg-hover: #399;
	--button-border: none;
	--input-bg: #FCC;
	--foldable-border: solid;
}
body {
	background-color: ivory;
	padding: 1em;
	font-size: 1.2em;
}
html { background-color: var(--button-bg); }